// màu vu lang
//$base-color-1: #FDE57A;
//$base-color-2: #FDE57A;
//$base-color-3: #ECC12E;
//$base-color-4: #B07540;
//$base-color-5: #3E455D;
//
//$text-color: #000000;
//$text-color-has-background: #000000;
//
//$bottom-header-background: #ECC12E;
//
//$background-btn:#3E455D;


// màu xinh nhật
//$base-color-1: #F6B1CF;
//$base-color-2: #F068A7;
//$base-color-3: #ED1D7F;
//$base-color-4: #CC1B69;
//$base-color-5: #981B4E;
//
//$text-color: #000000;
//$text-color-has-background: #FFFFFF;
//
//$bottom-header-background: #ED1D7F;
//
//$background-btn:#981B4E;


// Màu bt
//$base-color-1: #F6F1D4;
//$base-color-2: #F068A7;
//$base-color-3: #FA6338;
//$base-color-4: #CC1B69;
//$base-color-5: #FA6338;
//
//$text-color: #000000;
//$text-color-has-background: #000000;
//
//$bottom-header-background: #FFFFFF;
//
//$background-btn: #000000;

// màu tết
$base-color-1: #FDE57A;
$base-color-2: #FDE57A;
$base-color-3: #AF2522;
$base-color-4: #B07540;
$base-color-5: #AF2522;

$text-color: #000000;
$text-color-has-background: #000000;

$bottom-header-background: #FFD400;

$background-btn:#AF2522;
